<h1><%= t('.title', resource: resource_name.to_s.humanize) %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'devise/shared/error_messages' %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
  </div>

  <div class="form-group">
    <%= f.submit t('.update'), class: 'btn btn-primary btn-lg btn-block' %>
    <%= link_to "#{@user.otp_module_enabled? ? 'Disable' : 'Enable'} Two Factor",
                '#two_factor',
                data: { toggle: :modal },
                class: 'btn btn-lg btn-block btn-info' %>
  </div>
<% end %>

<p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>

<%= link_to t('.back'), :back %>

<div class="modal fade" id="two_factor">
  <% url = @user.otp_module_enabled? ? disable_multi_factor_authentication_user_path(@user) : enable_multi_factor_authentication_user_path(@user) %>
  <%= form_for :multi_factor_authentication, url: url, html: { class: 'form-inline' }  do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><%= @user.otp_module_enabled? ? 'Disable' : 'Enable' %> Two Factor Authentication</h4>
          <button type="button" class="close float-right" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <% unless @user.otp_module_enabled? %>
            <% qr = RQRCode::QRCode.new(resource.provisioning_uri, size: 10, level: :h ) %>
            <table class="qr" align="center">
              <% qr.modules.each_index do |x| %>
                <tr>
                  <% qr.modules.each_index do |y| %>
                    <% if qr.qrcode.dark?(x,y) %>
                      <td class="black"/>
                    <% else %>
                      <td class="white"/>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </table>
            <hr>
          <% end %>
          <div class='form-group'>
            <div class='text-center'>
              <%= f.text_field :otp_code_token, placeholder: 'Verify Token', class: 'form-control input-lg' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Update", class: 'btn btn-lg btn-block btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
