<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h4>Recent</h4>
        </div>
        <div class="srch_bar">
          <div class="stylish-input-group">
            <input type="text" class="search-bar"  placeholder="Search" >
          </div>
        </div>
      </div>
      <div class="inbox_chat scroll">

        <% @chats.each do |chat| %>

          <%= link_to chat do %>
          <div class="chat_list active_chat">
            <div class="chat_people">
              <div class="chat_img">
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
              </div>
              <div class="chat_ib">
                <h5>
                  <%= chat.listing_title(current_user) %>
                  <span class="badge badge-warning"><%= chat.try(:unread_messages_count) %></span>
                  <span class="chat_date"><%= chat.last_message&.created_at&.strftime('%B %e, %Y') %></span>
                </h5>
                <p><%= chat.last_message&.text_content %></p>
              </div>
            </div>
          </div>
          <% end %>

        <% end %>

      </div>
    </div>
    <div class="mesgs">
      <div class="msg_history" id="js-msg-history">

        <% @chat.messages.each do |message| %>

          <% if message.user_id == current_user.id %>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p><%= message.text_content.html_safe %></p>
                <span class="time_date">
                  <%= message.created_at.strftime('%H:%M %p     |    %B %e, %Y') %>
                </span>
              </div>
            </div>
          <% else %>
            <div class="incoming_msg">
              <div class="incoming_msg_img">
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p><%= message.text_content.html_safe %></p>
                  <span class="time_date">
                    <%= message.created_at.strftime('%H:%M %p     |    %B %e, %Y') %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>

        <% end %>

      </div>
      <div class="type_msg">
        <%= form_for(Message.new, remote: true, html: { class: "form-horizontal", role: "form" }) do |f| %>
          <div class="input_msg_write">
            <%= f.hidden_field :chat_id, value: @chat.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.text_field :text_content, class: 'write_msg', placeholder: 'Type a message' %>

            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
