<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'layouts/navbar' %>
  <br>

  <div class="container">
    <% flash.each do |type, msg| %>
      <ul class="list-group">
        <li class="alert list-group-item list-group-item-<%= "#{flash_alert_class(type)}" %>">
          <a href="#" class="close float-right" data-dismiss="alert">&#215;</a>
          <%= msg %>
        </li>
      </ul>
    <% end %>

    <%= yield %>
  </div>

  <hr>
  <footer class="container">
    <p>&copy; Company 2017-2020</p>
  </footer>
  </body>
</html>
